body {
	font-family: 'robotoregular';
	margin: 0;
	padding: 0;
	font-size: 15pt;
}

nav {
	width: 100%;
	height: 80px;
	line-height: 80px;
	padding: 0 3% 0 3%;
	background: #98bae3;
	background: -webkit-linear-gradient(#98bae3, #84a3c9);
}
nav h1 {
	font-size: 30pt;
	display: inline;
	padding: 0;
	background: -webkit-linear-gradient(#3a3a3a, #0c0c0c);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

section {
	width: 94%;
	margin: 100px 3% 0 3%;
}
section input, section button {
	height: 35px;
	font-size: 12pt;
	float: right;
	margin-bottom: 24px;
	border: none;
	border-radius: 3px;
	color: #adadad;
	background: #343434;
}
section input {
	width: 110px;
	padding: 0 0 0 1%;
	background-image: url('../img/search.png');
    background-repeat: no-repeat;
    background-position: right;
}
section input:focus {
	width: 250px;
}
section input:focus, section input, section button:hover, section button, .navBtn a:hover, .navBtn a {
	transition: .6s all !important;
}
section button {
	margin-right: 5px;
	padding: 0 10px 0 10px;
}
section button:hover {
	background: #b64141;
}

.showList p{
	display: block;
}
.showList p:first-of-type {
	float: left;
}
.showList p:last-of-type {
	float: right;
}

.container {
	border: 1px #bbbbbb solid;
	overflow: auto;
	border-radius: 5px;
}

.row {
	width: 100%;
	margin: 0 auto;
	background: #f1f1f1;
	overflow: auto;
}
.row:first-of-type {
	background: #3a3a3a;
	color: white;
}
.row:nth-of-type(even) {
	background: #eaeaea;
}
.row div {
	width: 30%;
	text-align: center;
	text-overflow: ellipsis;
	float: left;
	box-sizing: border-box;
	padding: 10px 5px 10px 5px;
}
.row div:nth-of-type(2) {
	width: 40%;
	border-right: 1px solid;
	border-left: 1px solid;
	border-color: #949494;
	white-space: nowrap;
	overflow: hidden;
}

.navBtn {
	width: 120px;
	height: 40px;
	background: #98bae3;
	border: none;
	border-radius: 3px;
	margin: 40px 0 0 3%;
}
.navBtn a {
	color: white;
}
.rightHalf, .leftHalf {
	float: left;
}
.rightHalf {
	width: 30%;
}
.leftHalf {
	width: 65%;
	margin-right: 5%;
}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.eot');
    src: url('fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff'),
         url('fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}