body {
	font-size: 14pt;
}

input {
	width: 89%;
}
input:focus {
	width: 89%;
}
section button {
	width: 10%;
	margin-left: 1%;
}
p:first-of-type {
	display: none;
}
.paginationP {
	display: inline !important;
}
section p:last-of-type {
	display: block;
	padding-top: 20px;
}
.leftHalf, .rightHalf {
	width: 100%;
}
.rightHalf {
	height: auto;
}
.rightHalf img {
	width: 100%;
}
.leftHalf {
	margin-top: 5%;
}