	<section class="showList">

	<p>
		<select ng-model="perPage" ng-init="perPage=12">
			<option>12</option>
			<option>25</option>
			<option>50</option>
			<option>100</option>
		</select>
		shows per page 
	</p>

			<button class="clearSearch" ng-click="clearSearch()">X</button>
			<input type="text" ng-model="search" placeholder="search..">


			<div class="row">

				<div ng-click="sort('show.name')">
						<span class="glyphicon sort-icon" ng-show="sortKey == 'show.name'" ng-class="{'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span>
						Name
				</div>

				<div ng-click="sort('show.summary')">
						<span class="glyphicon sort-icon" ng-show="sortKey == 'show.summary'" ng-class="{'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span>
						Summary
				</div>

				<div ng-click="sort('airtime')">
						<span class="glyphicon sort-icon" ng-show="sortKey == 'airtime'" ng-class="{'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span>
						Time
				</div>

			</div>

			
				<div class="row" dir-paginate="x in shows | filter:search | itemsPerPage: perPage | orderBy:sortKey:reverse" >
					<a href="#/details/{{x.id}}" alt="details">
						<div> {{ x.show.name }} </div>
						<div> {{ x.show.summary }} </div>
						<div> {{ x.airdate }} at {{ x.airtime }}</div>
					</a>
				</div>
			



	<p class="paginationP">
		<dir-pagination-controls
	    [max-size=""]
	    [direction-links=""]
	    [boundary-links="true"]
	    [on-page-change="pageChangeHandler(newPageNumber)"]
	    [pagination-id=""]
	    [template-url=""]
	    [auto-hide=""]>
	    </dir-pagination-controls>
	</p>

	<p>
		<select ng-model="perPage" ng-init="perPage=12">
			<option>12</option>
			<option>25</option>
			<option>50</option>
			<option>100</option>
		</select>
		shows per page 
	</p>

	</section>